@page
@model AppEstoqueBrilhador.Pages.Provider.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderX.cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProviderX.cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderX.nomeFantasia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProviderX.nomeFantasia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderX.endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProviderX.endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderX.telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProviderX.telefone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProviderX.id">Editar</a> |
    <a asp-page="./Index">Voltar para lista</a>
</div>
