@page
@model AppEstoqueBrilhador.Pages.Provider.IndexModel

@{
    ViewData["Title"] = "Fornecedores";
}

<style>
    .btn-primary {
        background-color: #343a40 !important;
    }
</style>

<h1>Fornecedores</h1>

<div>
    <a class="btn btn-primary" asp-page="Create" role="button" style="float:right">Inserir novo Fornecedor</a>
    <input type="text" asp-for="SearchString" />
    <input class="btn btn-primary" type="submit" value="Pesquisar">
    <a class="btn btn-primary" asp-page="Index" role="button">Voltar</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                <p>CNPJ</p>
            </th>
            <th>
                <p>Nome Fantasia</p>
            </th>
            <th>
                <p>Endereço</p>
            </th>
            <th>
                <p>Contato</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProviderX)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefone)
                </td>
                <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.id" role="button">Editar</a>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.id" role="button">Detalhes</a>
                    <a class="btn btn-primary" asp-page="./Delete" asp-route-id="@item.id" role="button">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
