@page
@model AppEstoqueBrilhador.Pages.Provider.IndexModel

@{
    ViewData["Title"] = "Fornecedores";
}

<h1>Cadastro de Fornecedores</h1>

<p>
    <a asp-page="Create">Inserir novo Fornecedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>CNPJ</p>
            </th>
            <th>
                <p>Nome Fantasia</p>
            </th>
            <th>
                <p>Endereço</p>
            </th>
            <th>
                <p>Contato</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProviderX)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefone)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.id">Detalhes</a> |
                    <a asp-page="./Delete" asp-route-id="@item.id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
