@page
@model AppEstoqueBrilhador.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<style>
    .btn-primary {
        background-color: #343a40 !important;
    }
</style>


<h1>Detalhes</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProviderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProviderId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary text-light" asp-page="./Edit" asp-route-id="@Model.Product.Id" role="button">Editar</a>
    <a class="btn btn-primary text-light" asp-page="Index" role="button">Voltar</a>
</div>
