@page
@model AppEstoqueBrilhador.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Página Inicial - Produtos";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    .btn-primary {
        background-color: #343a40!important;
    }

</style>

<h1>Produtos</h1>

<div>
    <a class="btn btn-primary" asp-page="Create" role="button" style="float:right">Inserir Novo Produto </a>
    <input type="text" asp-for="SearchString" />
    <input class="btn btn-primary" type="submit" value="Pesquisar">
    <a class="btn btn-primary" asp-page="Index" role="button">Voltar</a>

</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Nome</p>
            </th>
            <th>
                <p>Preço</p>
            </th>
            <th>
                <p>Quantidade</p>
            </th>
            <th>
                <p>Identificação do Fornecedor</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderId)
                </td>
                <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id" role="button">Editar</a>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id" role="button">Detalhes</a>
                    <a class="btn btn-primary" asp-page="./Delete" asp-route-id="@item.Id" role="button">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
